/*fluid nested grid generator */
.gridHolder { width:100%; max-width: 1200px; }
.row {float:left; clear:both; width:100%; }
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

.row .no-margin-left, .row .no-margin {margin-left:0;}
.row .no-margin-right, .row .no-margin {margin-right:0;}
.row .row .no-margin-left, .row .row .no-margin {margin-left:0;}
.row .row .no-margin-right, .row .row .no-margin {margin-right:0;}

.row .insert-margin-left, .row .insert-margin {margin-left:0;}
.row .insert-margin-right, .row .insert-margin {margin-right:0;}
.row .row .insert-margin-left, .row .row .insert-margin {margin-left:0;}
.row .row .insert-margin-right, .row .row .insert-margin {margin-right:0;}


/*level1*/
.one { float:left; width:7.083333333333333%; margin-right:0.625%; margin-left:0.625%; }
.two { float:left; width:15.416666666666668%; margin-right:0.625%; margin-left:0.625%; }
.three { float:left; width:23.75%; margin-right:0.625%; margin-left:0.625%; }
.four { float:left; width:32.083333333333336%; margin-right:0.625%; margin-left:0.625%; }
.five { float:left; width:40.416666666666664%; margin-right:0.625%; margin-left:0.625%; }
.six { float:left; width:48.75%; margin-right:0.625%; margin-left:0.625%; }
.seven { float:left; width:57.08333333333333%; margin-right:0.625%; margin-left:0.625%; }
.eight { float:left; width:65.41666666666667%; margin-right:0.625%; margin-left:0.625%; }
.nine { float:left; width:73.75%; margin-right:0.625%; margin-left:0.625%; }
.ten { float:left; width:82.08333333333333%; margin-right:0.625%; margin-left:0.625%; }
.eleven { float:left; width:90.41666666666667%; margin-right:0.625%; margin-left:0.625%; }
.twelve { float:left; width:98.75%; margin-right:0.625%; margin-left:0.625%; }
/*no-margin*/
.one.insert-margin { width:8.333333333333332%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.two.insert-margin { width:16.666666666666664%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.three.insert-margin { width:25%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.four.insert-margin { width:33.33333333333333%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.five.insert-margin { width:41.66666666666667%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.six.insert-margin { width:50%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.seven.insert-margin { width:58.333333333333336%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.eight.insert-margin { width:66.66666666666666%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.nine.insert-margin { width:75%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.ten.insert-margin { width:83.33333333333334%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.eleven.insert-margin { width:91.66666666666666%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
.twelve.insert-margin { width:100%; margin-right:0; margin-left:0; padding-left:0.625%;  padding-right:0.625%;}
/*single-margin*/
.one.insert-margin-right { width:7.708333333333334%;  margin-right:0; padding-right:0.625%; }
.one.insert-margin-left { width:7.708333333333334%;  margin-left:0; padding-left:0.625%; }
.two.insert-margin-right { width:16.041666666666668%;  margin-right:0; padding-right:0.625%; }
.two.insert-margin-left { width:16.041666666666668%;  margin-left:0; padding-left:0.625%; }
.three.insert-margin-right { width:24.375%;  margin-right:0; padding-right:0.625%; }
.three.insert-margin-left { width:24.375%;  margin-left:0; padding-left:0.625%; }
.four.insert-margin-right { width:32.708333333333336%;  margin-right:0; padding-right:0.625%; }
.four.insert-margin-left { width:32.708333333333336%;  margin-left:0; padding-left:0.625%; }
.five.insert-margin-right { width:41.041666666666664%;  margin-right:0; padding-right:0.625%; }
.five.insert-margin-left { width:41.041666666666664%;  margin-left:0; padding-left:0.625%; }
.six.insert-margin-right { width:49.375%;  margin-right:0; padding-right:0.625%; }
.six.insert-margin-left { width:49.375%;  margin-left:0; padding-left:0.625%; }
.seven.insert-margin-right { width:57.70833333333333%;  margin-right:0; padding-right:0.625%; }
.seven.insert-margin-left { width:57.70833333333333%;  margin-left:0; padding-left:0.625%; }
.eight.insert-margin-right { width:66.04166666666667%;  margin-right:0; padding-right:0.625%; }
.eight.insert-margin-left { width:66.04166666666667%;  margin-left:0; padding-left:0.625%; }
.nine.insert-margin-right { width:74.375%;  margin-right:0; padding-right:0.625%; }
.nine.insert-margin-left { width:74.375%;  margin-left:0; padding-left:0.625%; }
.ten.insert-margin-right { width:82.70833333333333%;  margin-right:0; padding-right:0.625%; }
.ten.insert-margin-left { width:82.70833333333333%;  margin-left:0; padding-left:0.625%; }
.eleven.insert-margin-right { width:91.04166666666667%;  margin-right:0; padding-right:0.625%; }
.eleven.insert-margin-left { width:91.04166666666667%;  margin-left:0; padding-left:0.625%; }
.twelve.insert-margin-right { width:99.375%;  margin-right:0; padding-right:0.625%; }
.twelve.insert-margin-left { width:99.375%;  margin-left:0; padding-left:0.625%; }


/*level2 under .one */
.one  .one { width:100%; margin-right:8.823529411764707%; margin-left:8.823529411764707%; }
/*no-margin*/
.one  .one.insert-margin { width:117.64705882352942%; padding-left:8.823529411764707%;  padding-right:8.823529411764707%;}
/*single-margin*/
.one  .one.insert-margin-right { width:108.8235294117647%; padding-right:8.823529411764707%; }
.one  .one.insert-margin-left { width:108.8235294117647%; padding-left:8.823529411764707%; }


/*level2 under .two */
.two  .one { width:45.94594594594595%; margin-right:4.054054054054054%; margin-left:4.054054054054054%; }
.two  .two { width:100%; margin-right:4.054054054054054%; margin-left:4.054054054054054%; }
/*no-margin*/
.two  .one.insert-margin { width:54.054054054054056%; padding-left:4.054054054054054%;  padding-right:4.054054054054054%;}
.two  .two.insert-margin { width:108.10810810810811%; padding-left:4.054054054054054%;  padding-right:4.054054054054054%;}
/*single-margin*/
.two  .one.insert-margin-right { width:50%; padding-right:4.054054054054054%; }
.two  .one.insert-margin-left { width:50%; padding-left:4.054054054054054%; }
.two  .two.insert-margin-right { width:104.05405405405406%; padding-right:4.054054054054054%; }
.two  .two.insert-margin-left { width:104.05405405405406%; padding-left:4.054054054054054%; }


/*level2 under .three */
.three  .one { width:29.82456140350877%; margin-right:2.631578947368421%; margin-left:2.631578947368421%; }
.three  .two { width:64.91228070175438%; margin-right:2.631578947368421%; margin-left:2.631578947368421%; }
.three  .three { width:100%; margin-right:2.631578947368421%; margin-left:2.631578947368421%; }
/*no-margin*/
.three  .one.insert-margin { width:35.08771929824561%; padding-left:2.631578947368421%;  padding-right:2.631578947368421%;}
.three  .two.insert-margin { width:70.17543859649122%; padding-left:2.631578947368421%;  padding-right:2.631578947368421%;}
.three  .three.insert-margin { width:105.26315789473684%; padding-left:2.631578947368421%;  padding-right:2.631578947368421%;}
/*single-margin*/
.three  .one.insert-margin-right { width:32.45614035087719%; padding-right:2.631578947368421%; }
.three  .one.insert-margin-left { width:32.45614035087719%; padding-left:2.631578947368421%; }
.three  .two.insert-margin-right { width:67.54385964912281%; padding-right:2.631578947368421%; }
.three  .two.insert-margin-left { width:67.54385964912281%; padding-left:2.631578947368421%; }
.three  .three.insert-margin-right { width:102.63157894736842%; padding-right:2.631578947368421%; }
.three  .three.insert-margin-left { width:102.63157894736842%; padding-left:2.631578947368421%; }


/*level2 under .four */
.four  .one { width:22.07792207792208%; margin-right:1.948051948051948%; margin-left:1.948051948051948%; }
.four  .two { width:48.05194805194805%; margin-right:1.948051948051948%; margin-left:1.948051948051948%; }
.four  .three { width:74.02597402597402%; margin-right:1.948051948051948%; margin-left:1.948051948051948%; }
.four  .four { width:100%; margin-right:1.948051948051948%; margin-left:1.948051948051948%; }
/*no-margin*/
.four  .one.insert-margin { width:25.97402597402597%; padding-left:1.948051948051948%;  padding-right:1.948051948051948%;}
.four  .two.insert-margin { width:51.94805194805194%; padding-left:1.948051948051948%;  padding-right:1.948051948051948%;}
.four  .three.insert-margin { width:77.92207792207793%; padding-left:1.948051948051948%;  padding-right:1.948051948051948%;}
.four  .four.insert-margin { width:103.89610389610388%; padding-left:1.948051948051948%;  padding-right:1.948051948051948%;}
/*single-margin*/
.four  .one.insert-margin-right { width:24.025974025974026%; padding-right:1.948051948051948%; }
.four  .one.insert-margin-left { width:24.025974025974026%; padding-left:1.948051948051948%; }
.four  .two.insert-margin-right { width:50%; padding-right:1.948051948051948%; }
.four  .two.insert-margin-left { width:50%; padding-left:1.948051948051948%; }
.four  .three.insert-margin-right { width:75.97402597402598%; padding-right:1.948051948051948%; }
.four  .three.insert-margin-left { width:75.97402597402598%; padding-left:1.948051948051948%; }
.four  .four.insert-margin-right { width:101.94805194805194%; padding-right:1.948051948051948%; }
.four  .four.insert-margin-left { width:101.94805194805194%; padding-left:1.948051948051948%; }


/*level2 under .five */
.five  .one { width:17.525773195876287%; margin-right:1.5463917525773196%; margin-left:1.5463917525773196%; }
.five  .two { width:38.144329896907216%; margin-right:1.5463917525773196%; margin-left:1.5463917525773196%; }
.five  .three { width:58.76288659793815%; margin-right:1.5463917525773196%; margin-left:1.5463917525773196%; }
.five  .four { width:79.38144329896907%; margin-right:1.5463917525773196%; margin-left:1.5463917525773196%; }
.five  .five { width:100%; margin-right:1.5463917525773196%; margin-left:1.5463917525773196%; }
/*no-margin*/
.five  .one.insert-margin { width:20.618556701030926%; padding-left:1.5463917525773196%;  padding-right:1.5463917525773196%;}
.five  .two.insert-margin { width:41.23711340206185%; padding-left:1.5463917525773196%;  padding-right:1.5463917525773196%;}
.five  .three.insert-margin { width:61.855670103092784%; padding-left:1.5463917525773196%;  padding-right:1.5463917525773196%;}
.five  .four.insert-margin { width:82.4742268041237%; padding-left:1.5463917525773196%;  padding-right:1.5463917525773196%;}
.five  .five.insert-margin { width:103.09278350515463%; padding-left:1.5463917525773196%;  padding-right:1.5463917525773196%;}
/*single-margin*/
.five  .one.insert-margin-right { width:19.072164948453608%; padding-right:1.5463917525773196%; }
.five  .one.insert-margin-left { width:19.072164948453608%; padding-left:1.5463917525773196%; }
.five  .two.insert-margin-right { width:39.69072164948454%; padding-right:1.5463917525773196%; }
.five  .two.insert-margin-left { width:39.69072164948454%; padding-left:1.5463917525773196%; }
.five  .three.insert-margin-right { width:60.30927835051546%; padding-right:1.5463917525773196%; }
.five  .three.insert-margin-left { width:60.30927835051546%; padding-left:1.5463917525773196%; }
.five  .four.insert-margin-right { width:80.9278350515464%; padding-right:1.5463917525773196%; }
.five  .four.insert-margin-left { width:80.9278350515464%; padding-left:1.5463917525773196%; }
.five  .five.insert-margin-right { width:101.5463917525773%; padding-right:1.5463917525773196%; }
.five  .five.insert-margin-left { width:101.5463917525773%; padding-left:1.5463917525773196%; }


/*level2 under .six */
.six  .one { width:14.529914529914532%; margin-right:1.282051282051282%; margin-left:1.282051282051282%; }
.six  .two { width:31.62393162393162%; margin-right:1.282051282051282%; margin-left:1.282051282051282%; }
.six  .three { width:48.717948717948715%; margin-right:1.282051282051282%; margin-left:1.282051282051282%; }
.six  .four { width:65.8119658119658%; margin-right:1.282051282051282%; margin-left:1.282051282051282%; }
.six  .five { width:82.90598290598291%; margin-right:1.282051282051282%; margin-left:1.282051282051282%; }
.six  .six { width:100%; margin-right:1.282051282051282%; margin-left:1.282051282051282%; }
/*no-margin*/
.six  .one.insert-margin { width:17.094017094017094%; padding-left:1.282051282051282%;  padding-right:1.282051282051282%;}
.six  .two.insert-margin { width:34.18803418803419%; padding-left:1.282051282051282%;  padding-right:1.282051282051282%;}
.six  .three.insert-margin { width:51.28205128205128%; padding-left:1.282051282051282%;  padding-right:1.282051282051282%;}
.six  .four.insert-margin { width:68.37606837606837%; padding-left:1.282051282051282%;  padding-right:1.282051282051282%;}
.six  .five.insert-margin { width:85.47008547008546%; padding-left:1.282051282051282%;  padding-right:1.282051282051282%;}
.six  .six.insert-margin { width:102.56410256410255%; padding-left:1.282051282051282%;  padding-right:1.282051282051282%;}
/*single-margin*/
.six  .one.insert-margin-right { width:15.81196581196581%; padding-right:1.282051282051282%; }
.six  .one.insert-margin-left { width:15.81196581196581%; padding-left:1.282051282051282%; }
.six  .two.insert-margin-right { width:32.9059829059829%; padding-right:1.282051282051282%; }
.six  .two.insert-margin-left { width:32.9059829059829%; padding-left:1.282051282051282%; }
.six  .three.insert-margin-right { width:50%; padding-right:1.282051282051282%; }
.six  .three.insert-margin-left { width:50%; padding-left:1.282051282051282%; }
.six  .four.insert-margin-right { width:67.09401709401709%; padding-right:1.282051282051282%; }
.six  .four.insert-margin-left { width:67.09401709401709%; padding-left:1.282051282051282%; }
.six  .five.insert-margin-right { width:84.1880341880342%; padding-right:1.282051282051282%; }
.six  .five.insert-margin-left { width:84.1880341880342%; padding-left:1.282051282051282%; }
.six  .six.insert-margin-right { width:101.28205128205127%; padding-right:1.282051282051282%; }
.six  .six.insert-margin-left { width:101.28205128205127%; padding-left:1.282051282051282%; }


/*level2 under .seven */
.seven  .one { width:12.408759124087592%; margin-right:1.094890510948905%; margin-left:1.094890510948905%; }
.seven  .two { width:27.00729927007299%; margin-right:1.094890510948905%; margin-left:1.094890510948905%; }
.seven  .three { width:41.605839416058394%; margin-right:1.094890510948905%; margin-left:1.094890510948905%; }
.seven  .four { width:56.20437956204379%; margin-right:1.094890510948905%; margin-left:1.094890510948905%; }
.seven  .five { width:70.8029197080292%; margin-right:1.094890510948905%; margin-left:1.094890510948905%; }
.seven  .six { width:85.40145985401459%; margin-right:1.094890510948905%; margin-left:1.094890510948905%; }
.seven  .seven { width:100%; margin-right:1.094890510948905%; margin-left:1.094890510948905%; }
/*no-margin*/
.seven  .one.insert-margin { width:14.5985401459854%; padding-left:1.094890510948905%;  padding-right:1.094890510948905%;}
.seven  .two.insert-margin { width:29.1970802919708%; padding-left:1.094890510948905%;  padding-right:1.094890510948905%;}
.seven  .three.insert-margin { width:43.79562043795621%; padding-left:1.094890510948905%;  padding-right:1.094890510948905%;}
.seven  .four.insert-margin { width:58.3941605839416%; padding-left:1.094890510948905%;  padding-right:1.094890510948905%;}
.seven  .five.insert-margin { width:72.99270072992701%; padding-left:1.094890510948905%;  padding-right:1.094890510948905%;}
.seven  .six.insert-margin { width:87.59124087591242%; padding-left:1.094890510948905%;  padding-right:1.094890510948905%;}
.seven  .seven.insert-margin { width:102.18978102189782%; padding-left:1.094890510948905%;  padding-right:1.094890510948905%;}
/*single-margin*/
.seven  .one.insert-margin-right { width:13.503649635036496%; padding-right:1.094890510948905%; }
.seven  .one.insert-margin-left { width:13.503649635036496%; padding-left:1.094890510948905%; }
.seven  .two.insert-margin-right { width:28.102189781021895%; padding-right:1.094890510948905%; }
.seven  .two.insert-margin-left { width:28.102189781021895%; padding-left:1.094890510948905%; }
.seven  .three.insert-margin-right { width:42.700729927007295%; padding-right:1.094890510948905%; }
.seven  .three.insert-margin-left { width:42.700729927007295%; padding-left:1.094890510948905%; }
.seven  .four.insert-margin-right { width:57.299270072992705%; padding-right:1.094890510948905%; }
.seven  .four.insert-margin-left { width:57.299270072992705%; padding-left:1.094890510948905%; }
.seven  .five.insert-margin-right { width:71.8978102189781%; padding-right:1.094890510948905%; }
.seven  .five.insert-margin-left { width:71.8978102189781%; padding-left:1.094890510948905%; }
.seven  .six.insert-margin-right { width:86.4963503649635%; padding-right:1.094890510948905%; }
.seven  .six.insert-margin-left { width:86.4963503649635%; padding-left:1.094890510948905%; }
.seven  .seven.insert-margin-right { width:101.09489051094891%; padding-right:1.094890510948905%; }
.seven  .seven.insert-margin-left { width:101.09489051094891%; padding-left:1.094890510948905%; }


/*level2 under .eight */
.eight  .one { width:10.828025477707007%; margin-right:0.9554140127388535%; margin-left:0.9554140127388535%; }
.eight  .two { width:23.56687898089172%; margin-right:0.9554140127388535%; margin-left:0.9554140127388535%; }
.eight  .three { width:36.30573248407643%; margin-right:0.9554140127388535%; margin-left:0.9554140127388535%; }
.eight  .four { width:49.044585987261144%; margin-right:0.9554140127388535%; margin-left:0.9554140127388535%; }
.eight  .five { width:61.78343949044586%; margin-right:0.9554140127388535%; margin-left:0.9554140127388535%; }
.eight  .six { width:74.52229299363057%; margin-right:0.9554140127388535%; margin-left:0.9554140127388535%; }
.eight  .seven { width:87.26114649681529%; margin-right:0.9554140127388535%; margin-left:0.9554140127388535%; }
.eight  .eight { width:100%; margin-right:0.9554140127388535%; margin-left:0.9554140127388535%; }
/*no-margin*/
.eight  .one.insert-margin { width:12.738853503184714%; padding-left:0.9554140127388535%;  padding-right:0.9554140127388535%;}
.eight  .two.insert-margin { width:25.477707006369428%; padding-left:0.9554140127388535%;  padding-right:0.9554140127388535%;}
.eight  .three.insert-margin { width:38.21656050955414%; padding-left:0.9554140127388535%;  padding-right:0.9554140127388535%;}
.eight  .four.insert-margin { width:50.955414012738856%; padding-left:0.9554140127388535%;  padding-right:0.9554140127388535%;}
.eight  .five.insert-margin { width:63.69426751592356%; padding-left:0.9554140127388535%;  padding-right:0.9554140127388535%;}
.eight  .six.insert-margin { width:76.43312101910828%; padding-left:0.9554140127388535%;  padding-right:0.9554140127388535%;}
.eight  .seven.insert-margin { width:89.171974522293%; padding-left:0.9554140127388535%;  padding-right:0.9554140127388535%;}
.eight  .eight.insert-margin { width:101.91082802547771%; padding-left:0.9554140127388535%;  padding-right:0.9554140127388535%;}
/*single-margin*/
.eight  .one.insert-margin-right { width:11.78343949044586%; padding-right:0.9554140127388535%; }
.eight  .one.insert-margin-left { width:11.78343949044586%; padding-left:0.9554140127388535%; }
.eight  .two.insert-margin-right { width:24.522292993630572%; padding-right:0.9554140127388535%; }
.eight  .two.insert-margin-left { width:24.522292993630572%; padding-left:0.9554140127388535%; }
.eight  .three.insert-margin-right { width:37.261146496815286%; padding-right:0.9554140127388535%; }
.eight  .three.insert-margin-left { width:37.261146496815286%; padding-left:0.9554140127388535%; }
.eight  .four.insert-margin-right { width:50%; padding-right:0.9554140127388535%; }
.eight  .four.insert-margin-left { width:50%; padding-left:0.9554140127388535%; }
.eight  .five.insert-margin-right { width:62.738853503184714%; padding-right:0.9554140127388535%; }
.eight  .five.insert-margin-left { width:62.738853503184714%; padding-left:0.9554140127388535%; }
.eight  .six.insert-margin-right { width:75.47770700636943%; padding-right:0.9554140127388535%; }
.eight  .six.insert-margin-left { width:75.47770700636943%; padding-left:0.9554140127388535%; }
.eight  .seven.insert-margin-right { width:88.21656050955414%; padding-right:0.9554140127388535%; }
.eight  .seven.insert-margin-left { width:88.21656050955414%; padding-left:0.9554140127388535%; }
.eight  .eight.insert-margin-right { width:100.95541401273887%; padding-right:0.9554140127388535%; }
.eight  .eight.insert-margin-left { width:100.95541401273887%; padding-left:0.9554140127388535%; }


/*level2 under .nine */
.nine  .one { width:9.6045197740113%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
.nine  .two { width:20.903954802259886%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
.nine  .three { width:32.20338983050847%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
.nine  .four { width:43.50282485875706%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
.nine  .five { width:54.80225988700565%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
.nine  .six { width:66.10169491525424%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
.nine  .seven { width:77.40112994350282%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
.nine  .eight { width:88.70056497175142%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
.nine  .nine { width:100%; margin-right:0.847457627118644%; margin-left:0.847457627118644%; }
/*no-margin*/
.nine  .one.insert-margin { width:11.299435028248588%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
.nine  .two.insert-margin { width:22.598870056497177%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
.nine  .three.insert-margin { width:33.89830508474576%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
.nine  .four.insert-margin { width:45.19774011299435%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
.nine  .five.insert-margin { width:56.49717514124294%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
.nine  .six.insert-margin { width:67.79661016949152%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
.nine  .seven.insert-margin { width:79.09604519774011%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
.nine  .eight.insert-margin { width:90.3954802259887%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
.nine  .nine.insert-margin { width:101.69491525423729%; padding-left:0.847457627118644%;  padding-right:0.847457627118644%;}
/*single-margin*/
.nine  .one.insert-margin-right { width:10.451977401129943%; padding-right:0.847457627118644%; }
.nine  .one.insert-margin-left { width:10.451977401129943%; padding-left:0.847457627118644%; }
.nine  .two.insert-margin-right { width:21.75141242937853%; padding-right:0.847457627118644%; }
.nine  .two.insert-margin-left { width:21.75141242937853%; padding-left:0.847457627118644%; }
.nine  .three.insert-margin-right { width:33.05084745762712%; padding-right:0.847457627118644%; }
.nine  .three.insert-margin-left { width:33.05084745762712%; padding-left:0.847457627118644%; }
.nine  .four.insert-margin-right { width:44.35028248587571%; padding-right:0.847457627118644%; }
.nine  .four.insert-margin-left { width:44.35028248587571%; padding-left:0.847457627118644%; }
.nine  .five.insert-margin-right { width:55.6497175141243%; padding-right:0.847457627118644%; }
.nine  .five.insert-margin-left { width:55.6497175141243%; padding-left:0.847457627118644%; }
.nine  .six.insert-margin-right { width:66.94915254237289%; padding-right:0.847457627118644%; }
.nine  .six.insert-margin-left { width:66.94915254237289%; padding-left:0.847457627118644%; }
.nine  .seven.insert-margin-right { width:78.24858757062147%; padding-right:0.847457627118644%; }
.nine  .seven.insert-margin-left { width:78.24858757062147%; padding-left:0.847457627118644%; }
.nine  .eight.insert-margin-right { width:89.54802259887006%; padding-right:0.847457627118644%; }
.nine  .eight.insert-margin-left { width:89.54802259887006%; padding-left:0.847457627118644%; }
.nine  .nine.insert-margin-right { width:100.84745762711864%; padding-right:0.847457627118644%; }
.nine  .nine.insert-margin-left { width:100.84745762711864%; padding-left:0.847457627118644%; }


/*level2 under .ten */
.ten  .one { width:8.629441624365482%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .two { width:18.781725888324875%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .three { width:28.934010152284262%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .four { width:39.08629441624365%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .five { width:49.23857868020304%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .six { width:59.390862944162436%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .seven { width:69.54314720812182%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .eight { width:79.69543147208121%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .nine { width:89.84771573604061%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
.ten  .ten { width:100%; margin-right:0.7614213197969544%; margin-left:0.7614213197969544%; }
/*no-margin*/
.ten  .one.insert-margin { width:10.152284263959391%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .two.insert-margin { width:20.304568527918782%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .three.insert-margin { width:30.456852791878177%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .four.insert-margin { width:40.609137055837564%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .five.insert-margin { width:50.76142131979695%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .six.insert-margin { width:60.913705583756354%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .seven.insert-margin { width:71.06598984771574%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .eight.insert-margin { width:81.21827411167513%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .nine.insert-margin { width:91.37055837563452%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
.ten  .ten.insert-margin { width:101.5228426395939%; padding-left:0.7614213197969544%;  padding-right:0.7614213197969544%;}
/*single-margin*/
.ten  .one.insert-margin-right { width:9.390862944162437%; padding-right:0.7614213197969544%; }
.ten  .one.insert-margin-left { width:9.390862944162437%; padding-left:0.7614213197969544%; }
.ten  .two.insert-margin-right { width:19.543147208121827%; padding-right:0.7614213197969544%; }
.ten  .two.insert-margin-left { width:19.543147208121827%; padding-left:0.7614213197969544%; }
.ten  .three.insert-margin-right { width:29.695431472081218%; padding-right:0.7614213197969544%; }
.ten  .three.insert-margin-left { width:29.695431472081218%; padding-left:0.7614213197969544%; }
.ten  .four.insert-margin-right { width:39.847715736040605%; padding-right:0.7614213197969544%; }
.ten  .four.insert-margin-left { width:39.847715736040605%; padding-left:0.7614213197969544%; }
.ten  .five.insert-margin-right { width:50%; padding-right:0.7614213197969544%; }
.ten  .five.insert-margin-left { width:50%; padding-left:0.7614213197969544%; }
.ten  .six.insert-margin-right { width:60.15228426395939%; padding-right:0.7614213197969544%; }
.ten  .six.insert-margin-left { width:60.15228426395939%; padding-left:0.7614213197969544%; }
.ten  .seven.insert-margin-right { width:70.30456852791879%; padding-right:0.7614213197969544%; }
.ten  .seven.insert-margin-left { width:70.30456852791879%; padding-left:0.7614213197969544%; }
.ten  .eight.insert-margin-right { width:80.45685279187818%; padding-right:0.7614213197969544%; }
.ten  .eight.insert-margin-left { width:80.45685279187818%; padding-left:0.7614213197969544%; }
.ten  .nine.insert-margin-right { width:90.60913705583756%; padding-right:0.7614213197969544%; }
.ten  .nine.insert-margin-left { width:90.60913705583756%; padding-left:0.7614213197969544%; }
.ten  .ten.insert-margin-right { width:100.76142131979695%; padding-right:0.7614213197969544%; }
.ten  .ten.insert-margin-left { width:100.76142131979695%; padding-left:0.7614213197969544%; }


/*level2 under .eleven */
.eleven  .one { width:7.834101382488479%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .two { width:17.050691244239633%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .three { width:26.26728110599078%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .four { width:35.483870967741936%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .five { width:44.70046082949309%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .six { width:53.91705069124424%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .seven { width:63.133640552995395%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .eight { width:72.35023041474655%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .nine { width:81.5668202764977%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .ten { width:90.78341013824884%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
.eleven  .eleven { width:100%; margin-right:0.6912442396313364%; margin-left:0.6912442396313364%; }
/*no-margin*/
.eleven  .one.insert-margin { width:9.216589861751153%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .two.insert-margin { width:18.433179723502306%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .three.insert-margin { width:27.64976958525346%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .four.insert-margin { width:36.86635944700461%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .five.insert-margin { width:46.08294930875576%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .six.insert-margin { width:55.29953917050692%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .seven.insert-margin { width:64.51612903225806%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .eight.insert-margin { width:73.73271889400922%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .nine.insert-margin { width:82.94930875576037%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .ten.insert-margin { width:92.16589861751152%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
.eleven  .eleven.insert-margin { width:101.38248847926268%; padding-left:0.6912442396313364%;  padding-right:0.6912442396313364%;}
/*single-margin*/
.eleven  .one.insert-margin-right { width:8.525345622119817%; padding-right:0.6912442396313364%; }
.eleven  .one.insert-margin-left { width:8.525345622119817%; padding-left:0.6912442396313364%; }
.eleven  .two.insert-margin-right { width:17.741935483870968%; padding-right:0.6912442396313364%; }
.eleven  .two.insert-margin-left { width:17.741935483870968%; padding-left:0.6912442396313364%; }
.eleven  .three.insert-margin-right { width:26.95852534562212%; padding-right:0.6912442396313364%; }
.eleven  .three.insert-margin-left { width:26.95852534562212%; padding-left:0.6912442396313364%; }
.eleven  .four.insert-margin-right { width:36.175115207373274%; padding-right:0.6912442396313364%; }
.eleven  .four.insert-margin-left { width:36.175115207373274%; padding-left:0.6912442396313364%; }
.eleven  .five.insert-margin-right { width:45.39170506912442%; padding-right:0.6912442396313364%; }
.eleven  .five.insert-margin-left { width:45.39170506912442%; padding-left:0.6912442396313364%; }
.eleven  .six.insert-margin-right { width:54.60829493087558%; padding-right:0.6912442396313364%; }
.eleven  .six.insert-margin-left { width:54.60829493087558%; padding-left:0.6912442396313364%; }
.eleven  .seven.insert-margin-right { width:63.824884792626726%; padding-right:0.6912442396313364%; }
.eleven  .seven.insert-margin-left { width:63.824884792626726%; padding-left:0.6912442396313364%; }
.eleven  .eight.insert-margin-right { width:73.04147465437788%; padding-right:0.6912442396313364%; }
.eleven  .eight.insert-margin-left { width:73.04147465437788%; padding-left:0.6912442396313364%; }
.eleven  .nine.insert-margin-right { width:82.25806451612904%; padding-right:0.6912442396313364%; }
.eleven  .nine.insert-margin-left { width:82.25806451612904%; padding-left:0.6912442396313364%; }
.eleven  .ten.insert-margin-right { width:91.47465437788019%; padding-right:0.6912442396313364%; }
.eleven  .ten.insert-margin-left { width:91.47465437788019%; padding-left:0.6912442396313364%; }
.eleven  .eleven.insert-margin-right { width:100.69124423963135%; padding-right:0.6912442396313364%; }
.eleven  .eleven.insert-margin-left { width:100.69124423963135%; padding-left:0.6912442396313364%; }


/*level2 under .twelve */
.twelve  .one { width:7.172995780590717%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .two { width:15.611814345991561%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .three { width:24.050632911392405%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .four { width:32.48945147679325%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .five { width:40.92827004219409%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .six { width:49.36708860759494%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .seven { width:57.80590717299579%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .eight { width:66.24472573839662%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .nine { width:74.68354430379746%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .ten { width:83.12236286919831%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .eleven { width:91.56118143459916%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
.twelve  .twelve { width:100%; margin-right:0.6329113924050633%; margin-left:0.6329113924050633%; }
/*no-margin*/
.twelve  .one.insert-margin { width:8.438818565400844%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .two.insert-margin { width:16.877637130801688%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .three.insert-margin { width:25.31645569620253%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .four.insert-margin { width:33.755274261603375%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .five.insert-margin { width:42.19409282700422%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .six.insert-margin { width:50.63291139240506%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .seven.insert-margin { width:59.07172995780591%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .eight.insert-margin { width:67.51054852320675%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .nine.insert-margin { width:75.9493670886076%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .ten.insert-margin { width:84.38818565400844%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .eleven.insert-margin { width:92.82700421940928%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
.twelve  .twelve.insert-margin { width:101.26582278481013%; padding-left:0.6329113924050633%;  padding-right:0.6329113924050633%;}
/*single-margin*/
.twelve  .one.insert-margin-right { width:7.805907172995781%; padding-right:0.6329113924050633%; }
.twelve  .one.insert-margin-left { width:7.805907172995781%; padding-left:0.6329113924050633%; }
.twelve  .two.insert-margin-right { width:16.244725738396625%; padding-right:0.6329113924050633%; }
.twelve  .two.insert-margin-left { width:16.244725738396625%; padding-left:0.6329113924050633%; }
.twelve  .three.insert-margin-right { width:24.68354430379747%; padding-right:0.6329113924050633%; }
.twelve  .three.insert-margin-left { width:24.68354430379747%; padding-left:0.6329113924050633%; }
.twelve  .four.insert-margin-right { width:33.12236286919831%; padding-right:0.6329113924050633%; }
.twelve  .four.insert-margin-left { width:33.12236286919831%; padding-left:0.6329113924050633%; }
.twelve  .five.insert-margin-right { width:41.561181434599156%; padding-right:0.6329113924050633%; }
.twelve  .five.insert-margin-left { width:41.561181434599156%; padding-left:0.6329113924050633%; }
.twelve  .six.insert-margin-right { width:50%; padding-right:0.6329113924050633%; }
.twelve  .six.insert-margin-left { width:50%; padding-left:0.6329113924050633%; }
.twelve  .seven.insert-margin-right { width:58.438818565400844%; padding-right:0.6329113924050633%; }
.twelve  .seven.insert-margin-left { width:58.438818565400844%; padding-left:0.6329113924050633%; }
.twelve  .eight.insert-margin-right { width:66.87763713080169%; padding-right:0.6329113924050633%; }
.twelve  .eight.insert-margin-left { width:66.87763713080169%; padding-left:0.6329113924050633%; }
.twelve  .nine.insert-margin-right { width:75.31645569620254%; padding-right:0.6329113924050633%; }
.twelve  .nine.insert-margin-left { width:75.31645569620254%; padding-left:0.6329113924050633%; }
.twelve  .ten.insert-margin-right { width:83.75527426160338%; padding-right:0.6329113924050633%; }
.twelve  .ten.insert-margin-left { width:83.75527426160338%; padding-left:0.6329113924050633%; }
.twelve  .eleven.insert-margin-right { width:92.19409282700421%; padding-right:0.6329113924050633%; }
.twelve  .eleven.insert-margin-left { width:92.19409282700421%; padding-left:0.6329113924050633%; }
.twelve  .twelve.insert-margin-right { width:100.63291139240506%; padding-right:0.6329113924050633%; }
.twelve  .twelve.insert-margin-left { width:100.63291139240506%; padding-left:0.6329113924050633%; }