/*fluid nested grid generator */
.gridHolder { width:100%; max-width: 1200px; }
.row {float:left; clear:both; width:100%; }
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

.row .no-margin-left, .row .no-margin {margin-left:0;}
.row .no-margin-right, .row .no-margin {margin-right:0;}
.row .row .no-margin-left, .row .row .no-margin {margin-left:0;}
.row .row .no-margin-right, .row .row .no-margin {margin-right:0;}

.row .insert-margin-left, .row .insert-margin {margin-left:0;}
.row .insert-margin-right, .row .insert-margin {margin-right:0;}
.row .row .insert-margin-left, .row .row .insert-margin {margin-left:0;}
.row .row .insert-margin-right, .row .row .insert-margin {margin-right:0;}


/*level1*/
.one { float:left; width:7.000000000000001%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.two { float:left; width:15.333333333333332%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.three { float:left; width:23.666666666666668%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.four { float:left; width:32%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.five { float:left; width:40.33333333333333%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.six { float:left; width:48.66666666666667%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.seven { float:left; width:56.99999999999999%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.eight { float:left; width:65.33333333333333%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.nine { float:left; width:73.66666666666667%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.ten { float:left; width:82%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.eleven { float:left; width:90.33333333333333%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
.twelve { float:left; width:98.66666666666667%; margin-right:0.6666666666666667%; margin-left:0.6666666666666667%; }
/*both margins inserted*/
.one.insert-margin { width:8.333333333333332%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.two.insert-margin { width:16.666666666666664%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.three.insert-margin { width:25%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.four.insert-margin { width:33.33333333333333%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.five.insert-margin { width:41.66666666666667%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.six.insert-margin { width:50%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.seven.insert-margin { width:58.333333333333336%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.eight.insert-margin { width:66.66666666666666%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.nine.insert-margin { width:75%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.ten.insert-margin { width:83.33333333333334%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.eleven.insert-margin { width:91.66666666666666%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
.twelve.insert-margin { width:100%; margin-right:0; margin-left:0; padding-left:0.6666666666666667%;  padding-right:0.6666666666666667%;}
/*single-margin*/
.one.insert-margin-right { width:7.666666666666666%;  margin-right:0; padding-right:0.6666666666666667%; }
.one.insert-margin-left { width:7.666666666666666%;  margin-left:0; padding-left:0.6666666666666667%; }
.two.insert-margin-right { width:16%;  margin-right:0; padding-right:0.6666666666666667%; }
.two.insert-margin-left { width:16%;  margin-left:0; padding-left:0.6666666666666667%; }
.three.insert-margin-right { width:24.333333333333336%;  margin-right:0; padding-right:0.6666666666666667%; }
.three.insert-margin-left { width:24.333333333333336%;  margin-left:0; padding-left:0.6666666666666667%; }
.four.insert-margin-right { width:32.666666666666664%;  margin-right:0; padding-right:0.6666666666666667%; }
.four.insert-margin-left { width:32.666666666666664%;  margin-left:0; padding-left:0.6666666666666667%; }
.five.insert-margin-right { width:41%;  margin-right:0; padding-right:0.6666666666666667%; }
.five.insert-margin-left { width:41%;  margin-left:0; padding-left:0.6666666666666667%; }
.six.insert-margin-right { width:49.333333333333336%;  margin-right:0; padding-right:0.6666666666666667%; }
.six.insert-margin-left { width:49.333333333333336%;  margin-left:0; padding-left:0.6666666666666667%; }
.seven.insert-margin-right { width:57.666666666666664%;  margin-right:0; padding-right:0.6666666666666667%; }
.seven.insert-margin-left { width:57.666666666666664%;  margin-left:0; padding-left:0.6666666666666667%; }
.eight.insert-margin-right { width:66%;  margin-right:0; padding-right:0.6666666666666667%; }
.eight.insert-margin-left { width:66%;  margin-left:0; padding-left:0.6666666666666667%; }
.nine.insert-margin-right { width:74.33333333333333%;  margin-right:0; padding-right:0.6666666666666667%; }
.nine.insert-margin-left { width:74.33333333333333%;  margin-left:0; padding-left:0.6666666666666667%; }
.ten.insert-margin-right { width:82.66666666666667%;  margin-right:0; padding-right:0.6666666666666667%; }
.ten.insert-margin-left { width:82.66666666666667%;  margin-left:0; padding-left:0.6666666666666667%; }
.eleven.insert-margin-right { width:91%;  margin-right:0; padding-right:0.6666666666666667%; }
.eleven.insert-margin-left { width:91%;  margin-left:0; padding-left:0.6666666666666667%; }
.twelve.insert-margin-right { width:99.33333333333333%;  margin-right:0; padding-right:0.6666666666666667%; }
.twelve.insert-margin-left { width:99.33333333333333%;  margin-left:0; padding-left:0.6666666666666667%; }


/*level2 under .one */
.one  .one { width:100%; margin-right:9.523809523809524%; margin-left:9.523809523809524%; }
/*both margins inserted*/
.one  .one.insert-margin { width:119.04761904761905%; padding-left:9.523809523809524%;  padding-right:9.523809523809524%;}
/*single-margin*/
.one  .one.insert-margin-right { width:109.52380952380953%; padding-right:9.523809523809524%; }
.one  .one.insert-margin-left { width:109.52380952380953%; padding-left:9.523809523809524%; }


/*level2 under .two */
.two  .one { width:45.65217391304348%; margin-right:4.3478260869565215%; margin-left:4.3478260869565215%; }
.two  .two { width:100%; margin-right:4.3478260869565215%; margin-left:4.3478260869565215%; }
/*both margins inserted*/
.two  .one.insert-margin { width:54.347826086956516%; padding-left:4.3478260869565215%;  padding-right:4.3478260869565215%;}
.two  .two.insert-margin { width:108.69565217391303%; padding-left:4.3478260869565215%;  padding-right:4.3478260869565215%;}
/*single-margin*/
.two  .one.insert-margin-right { width:50%; padding-right:4.3478260869565215%; }
.two  .one.insert-margin-left { width:50%; padding-left:4.3478260869565215%; }
.two  .two.insert-margin-right { width:104.34782608695652%; padding-right:4.3478260869565215%; }
.two  .two.insert-margin-left { width:104.34782608695652%; padding-left:4.3478260869565215%; }


/*level2 under .three */
.three  .one { width:29.577464788732392%; margin-right:2.8169014084507045%; margin-left:2.8169014084507045%; }
.three  .two { width:64.7887323943662%; margin-right:2.8169014084507045%; margin-left:2.8169014084507045%; }
.three  .three { width:100%; margin-right:2.8169014084507045%; margin-left:2.8169014084507045%; }
/*both margins inserted*/
.three  .one.insert-margin { width:35.2112676056338%; padding-left:2.8169014084507045%;  padding-right:2.8169014084507045%;}
.three  .two.insert-margin { width:70.4225352112676%; padding-left:2.8169014084507045%;  padding-right:2.8169014084507045%;}
.three  .three.insert-margin { width:105.63380281690141%; padding-left:2.8169014084507045%;  padding-right:2.8169014084507045%;}
/*single-margin*/
.three  .one.insert-margin-right { width:32.3943661971831%; padding-right:2.8169014084507045%; }
.three  .one.insert-margin-left { width:32.3943661971831%; padding-left:2.8169014084507045%; }
.three  .two.insert-margin-right { width:67.6056338028169%; padding-right:2.8169014084507045%; }
.three  .two.insert-margin-left { width:67.6056338028169%; padding-left:2.8169014084507045%; }
.three  .three.insert-margin-right { width:102.8169014084507%; padding-right:2.8169014084507045%; }
.three  .three.insert-margin-left { width:102.8169014084507%; padding-left:2.8169014084507045%; }


/*level2 under .four */
.four  .one { width:21.875%; margin-right:2.083333333333333%; margin-left:2.083333333333333%; }
.four  .two { width:47.91666666666667%; margin-right:2.083333333333333%; margin-left:2.083333333333333%; }
.four  .three { width:73.95833333333334%; margin-right:2.083333333333333%; margin-left:2.083333333333333%; }
.four  .four { width:100%; margin-right:2.083333333333333%; margin-left:2.083333333333333%; }
/*both margins inserted*/
.four  .one.insert-margin { width:26.041666666666668%; padding-left:2.083333333333333%;  padding-right:2.083333333333333%;}
.four  .two.insert-margin { width:52.083333333333336%; padding-left:2.083333333333333%;  padding-right:2.083333333333333%;}
.four  .three.insert-margin { width:78.125%; padding-left:2.083333333333333%;  padding-right:2.083333333333333%;}
.four  .four.insert-margin { width:104.16666666666667%; padding-left:2.083333333333333%;  padding-right:2.083333333333333%;}
/*single-margin*/
.four  .one.insert-margin-right { width:23.958333333333336%; padding-right:2.083333333333333%; }
.four  .one.insert-margin-left { width:23.958333333333336%; padding-left:2.083333333333333%; }
.four  .two.insert-margin-right { width:50%; padding-right:2.083333333333333%; }
.four  .two.insert-margin-left { width:50%; padding-left:2.083333333333333%; }
.four  .three.insert-margin-right { width:76.04166666666666%; padding-right:2.083333333333333%; }
.four  .three.insert-margin-left { width:76.04166666666666%; padding-left:2.083333333333333%; }
.four  .four.insert-margin-right { width:102.08333333333333%; padding-right:2.083333333333333%; }
.four  .four.insert-margin-left { width:102.08333333333333%; padding-left:2.083333333333333%; }


/*level2 under .five */
.five  .one { width:17.355371900826448%; margin-right:1.6528925619834711%; margin-left:1.6528925619834711%; }
.five  .two { width:38.01652892561984%; margin-right:1.6528925619834711%; margin-left:1.6528925619834711%; }
.five  .three { width:58.67768595041323%; margin-right:1.6528925619834711%; margin-left:1.6528925619834711%; }
.five  .four { width:79.33884297520662%; margin-right:1.6528925619834711%; margin-left:1.6528925619834711%; }
.five  .five { width:100%; margin-right:1.6528925619834711%; margin-left:1.6528925619834711%; }
/*both margins inserted*/
.five  .one.insert-margin { width:20.66115702479339%; padding-left:1.6528925619834711%;  padding-right:1.6528925619834711%;}
.five  .two.insert-margin { width:41.32231404958678%; padding-left:1.6528925619834711%;  padding-right:1.6528925619834711%;}
.five  .three.insert-margin { width:61.98347107438017%; padding-left:1.6528925619834711%;  padding-right:1.6528925619834711%;}
.five  .four.insert-margin { width:82.64462809917356%; padding-left:1.6528925619834711%;  padding-right:1.6528925619834711%;}
.five  .five.insert-margin { width:103.30578512396693%; padding-left:1.6528925619834711%;  padding-right:1.6528925619834711%;}
/*single-margin*/
.five  .one.insert-margin-right { width:19.00826446280992%; padding-right:1.6528925619834711%; }
.five  .one.insert-margin-left { width:19.00826446280992%; padding-left:1.6528925619834711%; }
.five  .two.insert-margin-right { width:39.66942148760331%; padding-right:1.6528925619834711%; }
.five  .two.insert-margin-left { width:39.66942148760331%; padding-left:1.6528925619834711%; }
.five  .three.insert-margin-right { width:60.33057851239669%; padding-right:1.6528925619834711%; }
.five  .three.insert-margin-left { width:60.33057851239669%; padding-left:1.6528925619834711%; }
.five  .four.insert-margin-right { width:80.99173553719008%; padding-right:1.6528925619834711%; }
.five  .four.insert-margin-left { width:80.99173553719008%; padding-left:1.6528925619834711%; }
.five  .five.insert-margin-right { width:101.65289256198346%; padding-right:1.6528925619834711%; }
.five  .five.insert-margin-left { width:101.65289256198346%; padding-left:1.6528925619834711%; }


/*level2 under .six */
.six  .one { width:14.383561643835616%; margin-right:1.36986301369863%; margin-left:1.36986301369863%; }
.six  .two { width:31.506849315068493%; margin-right:1.36986301369863%; margin-left:1.36986301369863%; }
.six  .three { width:48.63013698630137%; margin-right:1.36986301369863%; margin-left:1.36986301369863%; }
.six  .four { width:65.75342465753424%; margin-right:1.36986301369863%; margin-left:1.36986301369863%; }
.six  .five { width:82.87671232876713%; margin-right:1.36986301369863%; margin-left:1.36986301369863%; }
.six  .six { width:100%; margin-right:1.36986301369863%; margin-left:1.36986301369863%; }
/*both margins inserted*/
.six  .one.insert-margin { width:17.123287671232877%; padding-left:1.36986301369863%;  padding-right:1.36986301369863%;}
.six  .two.insert-margin { width:34.24657534246575%; padding-left:1.36986301369863%;  padding-right:1.36986301369863%;}
.six  .three.insert-margin { width:51.369863013698634%; padding-left:1.36986301369863%;  padding-right:1.36986301369863%;}
.six  .four.insert-margin { width:68.4931506849315%; padding-left:1.36986301369863%;  padding-right:1.36986301369863%;}
.six  .five.insert-margin { width:85.61643835616438%; padding-left:1.36986301369863%;  padding-right:1.36986301369863%;}
.six  .six.insert-margin { width:102.73972602739727%; padding-left:1.36986301369863%;  padding-right:1.36986301369863%;}
/*single-margin*/
.six  .one.insert-margin-right { width:15.753424657534246%; padding-right:1.36986301369863%; }
.six  .one.insert-margin-left { width:15.753424657534246%; padding-left:1.36986301369863%; }
.six  .two.insert-margin-right { width:32.87671232876712%; padding-right:1.36986301369863%; }
.six  .two.insert-margin-left { width:32.87671232876712%; padding-left:1.36986301369863%; }
.six  .three.insert-margin-right { width:50%; padding-right:1.36986301369863%; }
.six  .three.insert-margin-left { width:50%; padding-left:1.36986301369863%; }
.six  .four.insert-margin-right { width:67.12328767123287%; padding-right:1.36986301369863%; }
.six  .four.insert-margin-left { width:67.12328767123287%; padding-left:1.36986301369863%; }
.six  .five.insert-margin-right { width:84.24657534246576%; padding-right:1.36986301369863%; }
.six  .five.insert-margin-left { width:84.24657534246576%; padding-left:1.36986301369863%; }
.six  .six.insert-margin-right { width:101.36986301369863%; padding-right:1.36986301369863%; }
.six  .six.insert-margin-left { width:101.36986301369863%; padding-left:1.36986301369863%; }


/*level2 under .seven */
.seven  .one { width:12.280701754385964%; margin-right:1.1695906432748537%; margin-left:1.1695906432748537%; }
.seven  .two { width:26.900584795321635%; margin-right:1.1695906432748537%; margin-left:1.1695906432748537%; }
.seven  .three { width:41.52046783625731%; margin-right:1.1695906432748537%; margin-left:1.1695906432748537%; }
.seven  .four { width:56.14035087719298%; margin-right:1.1695906432748537%; margin-left:1.1695906432748537%; }
.seven  .five { width:70.76023391812866%; margin-right:1.1695906432748537%; margin-left:1.1695906432748537%; }
.seven  .six { width:85.38011695906432%; margin-right:1.1695906432748537%; margin-left:1.1695906432748537%; }
.seven  .seven { width:100%; margin-right:1.1695906432748537%; margin-left:1.1695906432748537%; }
/*both margins inserted*/
.seven  .one.insert-margin { width:14.619883040935672%; padding-left:1.1695906432748537%;  padding-right:1.1695906432748537%;}
.seven  .two.insert-margin { width:29.239766081871345%; padding-left:1.1695906432748537%;  padding-right:1.1695906432748537%;}
.seven  .three.insert-margin { width:43.859649122807014%; padding-left:1.1695906432748537%;  padding-right:1.1695906432748537%;}
.seven  .four.insert-margin { width:58.47953216374269%; padding-left:1.1695906432748537%;  padding-right:1.1695906432748537%;}
.seven  .five.insert-margin { width:73.09941520467837%; padding-left:1.1695906432748537%;  padding-right:1.1695906432748537%;}
.seven  .six.insert-margin { width:87.71929824561403%; padding-left:1.1695906432748537%;  padding-right:1.1695906432748537%;}
.seven  .seven.insert-margin { width:102.3391812865497%; padding-left:1.1695906432748537%;  padding-right:1.1695906432748537%;}
/*single-margin*/
.seven  .one.insert-margin-right { width:13.450292397660817%; padding-right:1.1695906432748537%; }
.seven  .one.insert-margin-left { width:13.450292397660817%; padding-left:1.1695906432748537%; }
.seven  .two.insert-margin-right { width:28.07017543859649%; padding-right:1.1695906432748537%; }
.seven  .two.insert-margin-left { width:28.07017543859649%; padding-left:1.1695906432748537%; }
.seven  .three.insert-margin-right { width:42.69005847953216%; padding-right:1.1695906432748537%; }
.seven  .three.insert-margin-left { width:42.69005847953216%; padding-left:1.1695906432748537%; }
.seven  .four.insert-margin-right { width:57.30994152046783%; padding-right:1.1695906432748537%; }
.seven  .four.insert-margin-left { width:57.30994152046783%; padding-left:1.1695906432748537%; }
.seven  .five.insert-margin-right { width:71.9298245614035%; padding-right:1.1695906432748537%; }
.seven  .five.insert-margin-left { width:71.9298245614035%; padding-left:1.1695906432748537%; }
.seven  .six.insert-margin-right { width:86.54970760233918%; padding-right:1.1695906432748537%; }
.seven  .six.insert-margin-left { width:86.54970760233918%; padding-left:1.1695906432748537%; }
.seven  .seven.insert-margin-right { width:101.16959064327486%; padding-right:1.1695906432748537%; }
.seven  .seven.insert-margin-left { width:101.16959064327486%; padding-left:1.1695906432748537%; }


/*level2 under .eight */
.eight  .one { width:10.714285714285714%; margin-right:1.0204081632653061%; margin-left:1.0204081632653061%; }
.eight  .two { width:23.46938775510204%; margin-right:1.0204081632653061%; margin-left:1.0204081632653061%; }
.eight  .three { width:36.224489795918366%; margin-right:1.0204081632653061%; margin-left:1.0204081632653061%; }
.eight  .four { width:48.97959183673469%; margin-right:1.0204081632653061%; margin-left:1.0204081632653061%; }
.eight  .five { width:61.73469387755102%; margin-right:1.0204081632653061%; margin-left:1.0204081632653061%; }
.eight  .six { width:74.48979591836735%; margin-right:1.0204081632653061%; margin-left:1.0204081632653061%; }
.eight  .seven { width:87.24489795918367%; margin-right:1.0204081632653061%; margin-left:1.0204081632653061%; }
.eight  .eight { width:100%; margin-right:1.0204081632653061%; margin-left:1.0204081632653061%; }
/*both margins inserted*/
.eight  .one.insert-margin { width:12.755102040816327%; padding-left:1.0204081632653061%;  padding-right:1.0204081632653061%;}
.eight  .two.insert-margin { width:25.510204081632654%; padding-left:1.0204081632653061%;  padding-right:1.0204081632653061%;}
.eight  .three.insert-margin { width:38.265306122448976%; padding-left:1.0204081632653061%;  padding-right:1.0204081632653061%;}
.eight  .four.insert-margin { width:51.02040816326531%; padding-left:1.0204081632653061%;  padding-right:1.0204081632653061%;}
.eight  .five.insert-margin { width:63.775510204081634%; padding-left:1.0204081632653061%;  padding-right:1.0204081632653061%;}
.eight  .six.insert-margin { width:76.53061224489795%; padding-left:1.0204081632653061%;  padding-right:1.0204081632653061%;}
.eight  .seven.insert-margin { width:89.28571428571429%; padding-left:1.0204081632653061%;  padding-right:1.0204081632653061%;}
.eight  .eight.insert-margin { width:102.04081632653062%; padding-left:1.0204081632653061%;  padding-right:1.0204081632653061%;}
/*single-margin*/
.eight  .one.insert-margin-right { width:11.73469387755102%; padding-right:1.0204081632653061%; }
.eight  .one.insert-margin-left { width:11.73469387755102%; padding-left:1.0204081632653061%; }
.eight  .two.insert-margin-right { width:24.489795918367346%; padding-right:1.0204081632653061%; }
.eight  .two.insert-margin-left { width:24.489795918367346%; padding-left:1.0204081632653061%; }
.eight  .three.insert-margin-right { width:37.244897959183675%; padding-right:1.0204081632653061%; }
.eight  .three.insert-margin-left { width:37.244897959183675%; padding-left:1.0204081632653061%; }
.eight  .four.insert-margin-right { width:50%; padding-right:1.0204081632653061%; }
.eight  .four.insert-margin-left { width:50%; padding-left:1.0204081632653061%; }
.eight  .five.insert-margin-right { width:62.755102040816325%; padding-right:1.0204081632653061%; }
.eight  .five.insert-margin-left { width:62.755102040816325%; padding-left:1.0204081632653061%; }
.eight  .six.insert-margin-right { width:75.51020408163265%; padding-right:1.0204081632653061%; }
.eight  .six.insert-margin-left { width:75.51020408163265%; padding-left:1.0204081632653061%; }
.eight  .seven.insert-margin-right { width:88.26530612244898%; padding-right:1.0204081632653061%; }
.eight  .seven.insert-margin-left { width:88.26530612244898%; padding-left:1.0204081632653061%; }
.eight  .eight.insert-margin-right { width:101.0204081632653%; padding-right:1.0204081632653061%; }
.eight  .eight.insert-margin-left { width:101.0204081632653%; padding-left:1.0204081632653061%; }


/*level2 under .nine */
.nine  .one { width:9.502262443438914%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
.nine  .two { width:20.81447963800905%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
.nine  .three { width:32.126696832579185%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
.nine  .four { width:43.43891402714932%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
.nine  .five { width:54.75113122171946%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
.nine  .six { width:66.06334841628959%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
.nine  .seven { width:77.37556561085974%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
.nine  .eight { width:88.68778280542986%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
.nine  .nine { width:100%; margin-right:0.904977375565611%; margin-left:0.904977375565611%; }
/*both margins inserted*/
.nine  .one.insert-margin { width:11.312217194570136%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
.nine  .two.insert-margin { width:22.624434389140273%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
.nine  .three.insert-margin { width:33.93665158371041%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
.nine  .four.insert-margin { width:45.248868778280546%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
.nine  .five.insert-margin { width:56.56108597285068%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
.nine  .six.insert-margin { width:67.87330316742081%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
.nine  .seven.insert-margin { width:79.18552036199095%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
.nine  .eight.insert-margin { width:90.49773755656109%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
.nine  .nine.insert-margin { width:101.80995475113122%; padding-left:0.904977375565611%;  padding-right:0.904977375565611%;}
/*single-margin*/
.nine  .one.insert-margin-right { width:10.407239819004525%; padding-right:0.904977375565611%; }
.nine  .one.insert-margin-left { width:10.407239819004525%; padding-left:0.904977375565611%; }
.nine  .two.insert-margin-right { width:21.71945701357466%; padding-right:0.904977375565611%; }
.nine  .two.insert-margin-left { width:21.71945701357466%; padding-left:0.904977375565611%; }
.nine  .three.insert-margin-right { width:33.03167420814479%; padding-right:0.904977375565611%; }
.nine  .three.insert-margin-left { width:33.03167420814479%; padding-left:0.904977375565611%; }
.nine  .four.insert-margin-right { width:44.34389140271493%; padding-right:0.904977375565611%; }
.nine  .four.insert-margin-left { width:44.34389140271493%; padding-left:0.904977375565611%; }
.nine  .five.insert-margin-right { width:55.65610859728507%; padding-right:0.904977375565611%; }
.nine  .five.insert-margin-left { width:55.65610859728507%; padding-left:0.904977375565611%; }
.nine  .six.insert-margin-right { width:66.9683257918552%; padding-right:0.904977375565611%; }
.nine  .six.insert-margin-left { width:66.9683257918552%; padding-left:0.904977375565611%; }
.nine  .seven.insert-margin-right { width:78.28054298642535%; padding-right:0.904977375565611%; }
.nine  .seven.insert-margin-left { width:78.28054298642535%; padding-left:0.904977375565611%; }
.nine  .eight.insert-margin-right { width:89.59276018099548%; padding-right:0.904977375565611%; }
.nine  .eight.insert-margin-left { width:89.59276018099548%; padding-left:0.904977375565611%; }
.nine  .nine.insert-margin-right { width:100.90497737556561%; padding-right:0.904977375565611%; }
.nine  .nine.insert-margin-left { width:100.90497737556561%; padding-left:0.904977375565611%; }


/*level2 under .ten */
.ten  .one { width:8.536585365853659%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .two { width:18.69918699186992%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .three { width:28.86178861788618%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .four { width:39.02439024390244%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .five { width:49.1869918699187%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .six { width:59.34959349593496%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .seven { width:69.51219512195121%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .eight { width:79.67479674796748%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .nine { width:89.83739837398373%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
.ten  .ten { width:100%; margin-right:0.8130081300813009%; margin-left:0.8130081300813009%; }
/*both margins inserted*/
.ten  .one.insert-margin { width:10.16260162601626%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .two.insert-margin { width:20.32520325203252%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .three.insert-margin { width:30.48780487804878%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .four.insert-margin { width:40.65040650406504%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .five.insert-margin { width:50.81300813008131%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .six.insert-margin { width:60.97560975609756%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .seven.insert-margin { width:71.13821138211382%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .eight.insert-margin { width:81.30081300813008%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .nine.insert-margin { width:91.46341463414635%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
.ten  .ten.insert-margin { width:101.62601626016261%; padding-left:0.8130081300813009%;  padding-right:0.8130081300813009%;}
/*single-margin*/
.ten  .one.insert-margin-right { width:9.34959349593496%; padding-right:0.8130081300813009%; }
.ten  .one.insert-margin-left { width:9.34959349593496%; padding-left:0.8130081300813009%; }
.ten  .two.insert-margin-right { width:19.51219512195122%; padding-right:0.8130081300813009%; }
.ten  .two.insert-margin-left { width:19.51219512195122%; padding-left:0.8130081300813009%; }
.ten  .three.insert-margin-right { width:29.67479674796748%; padding-right:0.8130081300813009%; }
.ten  .three.insert-margin-left { width:29.67479674796748%; padding-left:0.8130081300813009%; }
.ten  .four.insert-margin-right { width:39.83739837398374%; padding-right:0.8130081300813009%; }
.ten  .four.insert-margin-left { width:39.83739837398374%; padding-left:0.8130081300813009%; }
.ten  .five.insert-margin-right { width:50%; padding-right:0.8130081300813009%; }
.ten  .five.insert-margin-left { width:50%; padding-left:0.8130081300813009%; }
.ten  .six.insert-margin-right { width:60.16260162601627%; padding-right:0.8130081300813009%; }
.ten  .six.insert-margin-left { width:60.16260162601627%; padding-left:0.8130081300813009%; }
.ten  .seven.insert-margin-right { width:70.32520325203252%; padding-right:0.8130081300813009%; }
.ten  .seven.insert-margin-left { width:70.32520325203252%; padding-left:0.8130081300813009%; }
.ten  .eight.insert-margin-right { width:80.48780487804879%; padding-right:0.8130081300813009%; }
.ten  .eight.insert-margin-left { width:80.48780487804879%; padding-left:0.8130081300813009%; }
.ten  .nine.insert-margin-right { width:90.65040650406505%; padding-right:0.8130081300813009%; }
.ten  .nine.insert-margin-left { width:90.65040650406505%; padding-left:0.8130081300813009%; }
.ten  .ten.insert-margin-right { width:100.8130081300813%; padding-right:0.8130081300813009%; }
.ten  .ten.insert-margin-left { width:100.8130081300813%; padding-left:0.8130081300813009%; }


/*level2 under .eleven */
.eleven  .one { width:7.7490774907749085%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .two { width:16.974169741697416%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .three { width:26.199261992619927%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .four { width:35.42435424354243%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .five { width:44.64944649446495%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .six { width:53.874538745387454%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .seven { width:63.09963099630996%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .eight { width:72.32472324723247%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .nine { width:81.54981549815497%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .ten { width:90.7749077490775%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
.eleven  .eleven { width:100%; margin-right:0.7380073800738007%; margin-left:0.7380073800738007%; }
/*both margins inserted*/
.eleven  .one.insert-margin { width:9.22509225092251%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .two.insert-margin { width:18.45018450184502%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .three.insert-margin { width:27.67527675276753%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .four.insert-margin { width:36.90036900369004%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .five.insert-margin { width:46.125461254612546%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .six.insert-margin { width:55.35055350553506%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .seven.insert-margin { width:64.57564575645756%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .eight.insert-margin { width:73.80073800738008%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .nine.insert-margin { width:83.02583025830258%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .ten.insert-margin { width:92.25092250922509%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
.eleven  .eleven.insert-margin { width:101.4760147601476%; padding-left:0.7380073800738007%;  padding-right:0.7380073800738007%;}
/*single-margin*/
.eleven  .one.insert-margin-right { width:8.487084870848708%; padding-right:0.7380073800738007%; }
.eleven  .one.insert-margin-left { width:8.487084870848708%; padding-left:0.7380073800738007%; }
.eleven  .two.insert-margin-right { width:17.712177121771216%; padding-right:0.7380073800738007%; }
.eleven  .two.insert-margin-left { width:17.712177121771216%; padding-left:0.7380073800738007%; }
.eleven  .three.insert-margin-right { width:26.937269372693727%; padding-right:0.7380073800738007%; }
.eleven  .three.insert-margin-left { width:26.937269372693727%; padding-left:0.7380073800738007%; }
.eleven  .four.insert-margin-right { width:36.162361623616235%; padding-right:0.7380073800738007%; }
.eleven  .four.insert-margin-left { width:36.162361623616235%; padding-left:0.7380073800738007%; }
.eleven  .five.insert-margin-right { width:45.38745387453875%; padding-right:0.7380073800738007%; }
.eleven  .five.insert-margin-left { width:45.38745387453875%; padding-left:0.7380073800738007%; }
.eleven  .six.insert-margin-right { width:54.61254612546126%; padding-right:0.7380073800738007%; }
.eleven  .six.insert-margin-left { width:54.61254612546126%; padding-left:0.7380073800738007%; }
.eleven  .seven.insert-margin-right { width:63.837638376383765%; padding-right:0.7380073800738007%; }
.eleven  .seven.insert-margin-left { width:63.837638376383765%; padding-left:0.7380073800738007%; }
.eleven  .eight.insert-margin-right { width:73.06273062730627%; padding-right:0.7380073800738007%; }
.eleven  .eight.insert-margin-left { width:73.06273062730627%; padding-left:0.7380073800738007%; }
.eleven  .nine.insert-margin-right { width:82.28782287822878%; padding-right:0.7380073800738007%; }
.eleven  .nine.insert-margin-left { width:82.28782287822878%; padding-left:0.7380073800738007%; }
.eleven  .ten.insert-margin-right { width:91.5129151291513%; padding-right:0.7380073800738007%; }
.eleven  .ten.insert-margin-left { width:91.5129151291513%; padding-left:0.7380073800738007%; }
.eleven  .eleven.insert-margin-right { width:100.7380073800738%; padding-right:0.7380073800738007%; }
.eleven  .eleven.insert-margin-left { width:100.7380073800738%; padding-left:0.7380073800738007%; }


/*level2 under .twelve */
.twelve  .one { width:7.094594594594595%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .two { width:15.54054054054054%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .three { width:23.986486486486484%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .four { width:32.432432432432435%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .five { width:40.87837837837838%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .six { width:49.32432432432432%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .seven { width:57.770270270270274%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .eight { width:66.21621621621621%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .nine { width:74.66216216216216%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .ten { width:83.1081081081081%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .eleven { width:91.55405405405406%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
.twelve  .twelve { width:100%; margin-right:0.6756756756756757%; margin-left:0.6756756756756757%; }
/*both margins inserted*/
.twelve  .one.insert-margin { width:8.445945945945946%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .two.insert-margin { width:16.89189189189189%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .three.insert-margin { width:25.33783783783784%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .four.insert-margin { width:33.78378378378378%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .five.insert-margin { width:42.22972972972973%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .six.insert-margin { width:50.67567567567568%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .seven.insert-margin { width:59.12162162162162%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .eight.insert-margin { width:67.56756756756756%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .nine.insert-margin { width:76.01351351351352%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .ten.insert-margin { width:84.45945945945947%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .eleven.insert-margin { width:92.9054054054054%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
.twelve  .twelve.insert-margin { width:101.35135135135135%; padding-left:0.6756756756756757%;  padding-right:0.6756756756756757%;}
/*single-margin*/
.twelve  .one.insert-margin-right { width:7.77027027027027%; padding-right:0.6756756756756757%; }
.twelve  .one.insert-margin-left { width:7.77027027027027%; padding-left:0.6756756756756757%; }
.twelve  .two.insert-margin-right { width:16.216216216216218%; padding-right:0.6756756756756757%; }
.twelve  .two.insert-margin-left { width:16.216216216216218%; padding-left:0.6756756756756757%; }
.twelve  .three.insert-margin-right { width:24.66216216216216%; padding-right:0.6756756756756757%; }
.twelve  .three.insert-margin-left { width:24.66216216216216%; padding-left:0.6756756756756757%; }
.twelve  .four.insert-margin-right { width:33.108108108108105%; padding-right:0.6756756756756757%; }
.twelve  .four.insert-margin-left { width:33.108108108108105%; padding-left:0.6756756756756757%; }
.twelve  .five.insert-margin-right { width:41.55405405405405%; padding-right:0.6756756756756757%; }
.twelve  .five.insert-margin-left { width:41.55405405405405%; padding-left:0.6756756756756757%; }
.twelve  .six.insert-margin-right { width:50%; padding-right:0.6756756756756757%; }
.twelve  .six.insert-margin-left { width:50%; padding-left:0.6756756756756757%; }
.twelve  .seven.insert-margin-right { width:58.445945945945944%; padding-right:0.6756756756756757%; }
.twelve  .seven.insert-margin-left { width:58.445945945945944%; padding-left:0.6756756756756757%; }
.twelve  .eight.insert-margin-right { width:66.8918918918919%; padding-right:0.6756756756756757%; }
.twelve  .eight.insert-margin-left { width:66.8918918918919%; padding-left:0.6756756756756757%; }
.twelve  .nine.insert-margin-right { width:75.33783783783784%; padding-right:0.6756756756756757%; }
.twelve  .nine.insert-margin-left { width:75.33783783783784%; padding-left:0.6756756756756757%; }
.twelve  .ten.insert-margin-right { width:83.78378378378379%; padding-right:0.6756756756756757%; }
.twelve  .ten.insert-margin-left { width:83.78378378378379%; padding-left:0.6756756756756757%; }
.twelve  .eleven.insert-margin-right { width:92.22972972972973%; padding-right:0.6756756756756757%; }
.twelve  .eleven.insert-margin-left { width:92.22972972972973%; padding-left:0.6756756756756757%; }
.twelve  .twelve.insert-margin-right { width:100.67567567567568%; padding-right:0.6756756756756757%; }
.twelve  .twelve.insert-margin-left { width:100.67567567567568%; padding-left:0.6756756756756757%; }